AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
FASTIFY_PORT=8080
ADMIN_CLIENT_ORIGIN=http://localhost:8081
LIBRARIAN_CLIENT_ORIGIN=http://localhost:8082
PLAY_AND_WIN_CLIENT_ORIGIN=http://localhost:8083
RULESLAWYER_FRONTEND_ORIGIN=http://localhost:3000
RULESLAWYER_FRONTEND_ORIGIN2=http://localhost:8084
BOARDGAMEGEEK_API_TOKEN=
NEXT_PUBLIC_API_URL='http://localhost:8080/api'
NEXT_PUBLIC_BASE_PATH='/ruleslawyer'

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/ruleslawyer?schema=public"
