@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-gwgreen: #00b259;
  --color-gwdarkgreen: #005D72;
  --color-gwblue: #0093d2;
  --color-gwdarkblue: #002C5F;
  --color-gwlightblue: #70BCD7;
  --color-gwred: #FF0000;
  --color-gwdarkred: #7e0909;
  --color-bggorange: #FF5100;
  --color-bbg-10:rgb(36, 149, 99);
  --color-bgg-9:rgb(36, 149, 99);
  --color-bgg-8:rgb(47, 196, 130);
  --color-bgg-7:rgb(29, 138, 205);
  --color-bgg-6:rgb(83, 105, 162);
  --color-bgg-5:rgb(83, 105, 162);
  --color-bgg-4:rgb(223, 71, 81);
  --color-bgg-3:rgb(223, 71, 81);
  --color-bgg-2:rgb(219, 48, 59);
  --color-bgg-1:rgb(219, 48, 59);
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  html {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--color-gwdarkblue),
        #000000
      )
      no-repeat fixed;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input, textarea {
  background-color: transparent;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: larger;
  font-weight: bold;
}